.fond{
    background-color: #ADE8F4;
}

.barra{
    background-color: #000000;
        display: inline-block;
        text-transform: uppercase;
        padding: 2%;
        width: 95%;
        margin-top: 0%;
    }

    .fondo{
        background-color: #ffffff;
            display: inline-block;
            text-transform: uppercase;
            padding: 2%;
            width: 95%;
            height: 550px;
            margin-top: 0%;
            margin-bottom: 50%;
        }

.letra{
    color: white;

}
    